exportPattern("^[^\\.]")
export(bca)
export(belplau)
export(combmasses)
export(dempster)
export(dotprod)
export(doubles)
export(dsrwon)
export(dstCombListfacts)
export(dstCombListfacts2)
export(initsing)
export(inters)
export(nzdsr)
export(plautrans)
export(probCombListfacts)
export(rplau)
export(smppmexample)
export(tabresul)
export(tabresulSingl)
